
{% extends "layout-guide.html" %}

{% block pageTitle %}
Apply for a standard rules environmental permit
{% endblock %}

{% set versionxxx = "v24" %}


{% block content %}

<div class="govuk-width-container">	
		<main class="govuk-main-wrapper">
	
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
						<span class="govuk-caption-xl">
								Guidance
							</span>
							<h2 class="govuk-heading-l">Apply for a standard rules environmental permit</h2>
							<p class="govuk-body-l">How to apply for a standard rules environmental permit from the Environment Agency.</p>
						</div>
					

							




				<div class="govuk-grid-column-full">
					<hr class="govuk-section-break govuk-section-break--visible">

		</div>
	</div>
</div>

<div class="govuk-width-container">								
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">

				<p class="govuk-body govuk-!-font-size-16">Published 6 April 2018</br>
					Last updated 6 April 2018</br>
					From: Environment Agency and Department for Environment, Food &amp; Rural Affairs</span>
				</p>
		
				</div>
			</div>
</div>

<div class="govuk-width-container">	
					<div class="govuk-grid-row">
						<div class="govuk-grid-column-two-thirds">
				
				<div class="blue-box">
						<p class="govuk-body govuk-!-font-size-16">Applies to:  England (see guidance for <a rel="external" href="https://www.doeni.gov.uk/">Northern Ireland</a>, <a rel="external" href="http://www.sepa.org.uk/regulations/authorisations-and-permits/do-i-need-an-authorisation/">Scotland</a>, and <a rel="external" href="https://naturalresources.wales/permits-and-permissions/environmental-permits/?lang=en">Wales</a>)</p>
				</div>
	
				<div class="contents">
						<h3 class="govuk-body govuk-!-font-size-16">Contents</h3>
					<ol class="govuk-list">
						<li><a class="govuk-body govuk-!-font-size-16" href="#beforeapply">Before you apply</a></li>
						<li><a class="govuk-body govuk-!-font-size-16" href="#howapply">How to apply</a></li>
						<li><a class="govuk-body govuk-!-font-size-16" href="#get-help-with-your-application">Get help with your application</a></li>
						<li><a class="govuk-body govuk-!-font-size-16" href="#contact-the-environment-agency">Contact the Environment Agency</a></li>
					</ol>

				</br>
					<h3 id="beforeapply" class="govuk-heading-m">Before you apply</h3>
<p>Before you apply you must do all the following:</p>

<ul class="govuk-list govuk-list--bullet">
		<li>check you meet the <a href="https://www.gov.uk/guidance/legal-operator-and-competence-requirements-environmental-permits">legal operator and competency requirements</a> (including technical competency)</li>
		<li>develop a <a href="https://www.gov.uk/guidance/develop-a-management-system-environmental-permits">management system</a> (a written set of procedures that identifies and minimises the risks of pollution)</li>
		<li>complete a <a href="https://www.gov.uk/guidance/risk-assessments-for-your-environmental-permit">risk assessment</a>
	</li>
		<li>design your facility to <a href="https://www.gov.uk/guidance/control-and-monitor-emissions-for-your-environmental-permit">avoid and control emissions</a>
	</li>
		<li>check the <a href="https://www.gov.uk/government/collections/technical-guidance-for-regulated-industry-sectors-environmental-permitting">technical guidance</a>
	</li>
	</ul>

<p>If you are applying for a waste recovery permit to permanently deposit waste on land, you must also read the guidance on <a href="https://www.gov.uk/guidance/waste-recovery-plans-and-permits">waste recovery plans and permits</a>.</p>
		
<h3 id="howapply" class="govuk-heading-m">How to apply</h3>

<p class="grey-box">
	<a href="/{{versionxxx}}/start/start-or-resume">Apply for a bespoke environmental permit</a>
<br>We will tell you what you need to do when you start the application.
</p>

<h2 id="get-help-with-your-application" class="govuk-heading-m">Get help with your application</h2>

		<p >The Environment Agency offers basic pre-application advice to help you complete your application. This basic advice is free because the cost of providing it is included in the application charge.</p>

		<p>For bespoke permits the basic service covers the following advice (where applicable):</p>

		<ul class="govuk-list govuk-list--bullet">
		  <li>carrying out nature and heritage conservation screening</li>
		  <li>which application forms and guidance to use</li>
		  <li>information about any administrative tasks the Environment Agency will need to do</li>
		</ul>

		<p>The basic service also includes advice about risk assessments you may need to do to accompany your application.</p>

		<p>If you need more in depth advice about your application the Environment Agency offers an enhanced pre-application advice service. The enhanced service costs £100 an hour plus VAT. The enhanced service can include face to face meetings and advice on:</p>

		<ul class="govuk-list govuk-list--bullet">
		<li>complex modelling</li>
		  <li>preparing risk assessments</li>
		  <li>parallel tracking complex permits with planning applications</li>
		  <li>specific substances assessments</li>
		  <li>monitoring requirements (including baseline)</li>
		</ul>

		<p>The Environment Agency will give you a written estimate before they start work. This will include:</p>

		<ul class="govuk-list govuk-list--bullet">
 		  <li>a breakdown of the work they will carry out with costs</li>
		  <li>when these costs will be charged</li>
		</ul>

		<p>Getting pre-application advice will help you submit a good quality application that can be processed (determined) smoothly and quickly. 
		<a href="https://www.gov.uk/government/publications/environmental-permit-pre-application-advice-form">Complete the pre-application advice form</a> if you want to request either basic (free), or enhanced (chargeable) pre-application advice.</p>

		<p>If you cannot access the form please <a href="#contact">contact the Environment Agency</a> and they can send you a paper copy to complete and return.</p>

		<section id="otherapply">
				<article>

					<h2 id="contact-the-environment-agency" class="govuk-heading-m">Contact the Environment Agency</h2>
					
					<p>
						Contact the Environment Agency if you you need help with your application or you cannot apply online.
					</p>

					<div style="border-left:0.75px solid#bfc1c3; padding:20px;line-height:-23.25em;">

							<h4 class="govuk-heading-s">General enquiries</h4>


				<p class="adr">
					<span class="fn">National Customer Contact Centre</span><br>
					<span class="street-address">PO Box 544</span><br>
					<span class="locality">Rotherham</span><br>
					<span class="postal-code">S60 1BY</span>
				</p>


							<div style="email-url-number">
								<p class="email">
									<span class="type">Email</span>
								  <a class="email" href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone</span>
								  03708 506 506
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Telephone from outside the UK (Monday to Friday, 8am to 6pm GMT)</span>
								  +44 (0) 114 282 5312
								  <br>
								</p>
								<p class="tel">
								  <span class="type">Minicom (for the hard of hearing)</span>
								  03702 422 549
								</p>
							</div>

							<p class="comments">Monday to Friday, 8am to 6pm</p>
					

					</div>

				</article>
		<section>


							</div>
						</div>

						<div class="govuk-grid-column-one-third">
							<hr class="govuk-section-break govuk-section-break--visible">
						</br>
							<h3 class="govuk-heading-m">Related content</h3>
								<p class="govuk-body govuk-!-font-size-16">Explore the topic</p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Environmental permits</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Policy</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Business and the environment</a></p>
								<hr class="govuk-section-break govuk-section-break--visible">

				
							</div>

					</div>
		</main>
</div>


{% endblock %}
