
{% extends "layout2.html" %}

{% block pageTitle %}
Apply for a standard rules environmental permit
{% endblock %}

{% block content %}

<div class="govuk-width-container">	
		<main class="govuk-main-wrapper">
	
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
						<span class="govuk-caption-xl">
								Guidance
							</span>
							<h2 class="govuk-heading-l">Apply for a standard rules environmental permit</h2>
							<p class="govuk-body-l">How to apply for a standard rules environmental permit from the Environment Agency.</p>
						</div>
					</div>

		</div>
							



<div class="govuk-width-container">											
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
			<hr style="margin:0 0 1em 0">

		</div>
	</div>
</div>

<div class="govuk-width-container">								
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">

				<p class="govuk-body govuk-!-font-size-16">Published 6 April 2018</br>
					Last updated 6 April 2018</br>
					From: Environment Agency and Department for Environment, Food &amp; Rural Affairs</span>
				</p>
		
				</div>
			</div>
</div>

<div class="govuk-width-container">	
					<div class="govuk-grid-row">
						<div class="govuk-grid-column-two-thirds">
				
				<div class="blue-box">
						<p class="govuk-body govuk-!-font-size-16">Applies to:  England (see guidance for <a rel="external" href="https://www.doeni.gov.uk/">Northern Ireland</a>, <a rel="external" href="http://www.sepa.org.uk/regulations/authorisations-and-permits/do-i-need-an-authorisation/">Scotland</a>, and <a rel="external" href="https://naturalresources.wales/permits-and-permissions/environmental-permits/?lang=en">Wales</a>)</p>
				</div>
	
				<div class="contents">
						<h3 class="govuk-body govuk-!-font-size-16">Contents</h3>
					<ol class="govuk-list">
						<li><a class="govuk-body govuk-!-font-size-16" href="#beforeapply">Before you apply</a></li>
						<li><a class="govuk-body govuk-!-font-size-16" href="#howapply">How to apply</a></li>
						<li><a class="govuk-body govuk-!-font-size-16" href="#get-help-with-your-application">Get help with your application</a></li>
						<li><a class="govuk-body govuk-!-font-size-16" href="#contact-the-environment-agency">Contact the Environment Agency</a></li>
					</ol>

				</br>
					<h3 id="beforeapply" class="govuk-heading-m">Before you apply</h3>
<p>Before you apply you must do all the following:</p>

<ul class="govuk-list govuk-list--bullet">
		<li>check you meet the <a href="https://www.gov.uk/guidance/legal-operator-and-competence-requirements-environmental-permits">legal operator and competency requirements</a> (including technical competency)</li>
		<li>develop a <a href="https://www.gov.uk/guidance/develop-a-management-system-environmental-permits">management system</a> (a written set of procedures that identifies and minimises the risks of pollution)</li>
		<li>complete a <a href="https://www.gov.uk/guidance/risk-assessments-for-your-environmental-permit">risk assessment</a>
	</li>
		<li>design your facility to <a href="https://www.gov.uk/guidance/control-and-monitor-emissions-for-your-environmental-permit">avoid and control emissions</a>
	</li>
		<li>check the <a href="https://www.gov.uk/government/collections/technical-guidance-for-regulated-industry-sectors-environmental-permitting">technical guidance</a>
	</li>
	</ul>

<p>If you are applying for a waste recovery permit to permanently deposit waste on land, you must also read the guidance on waste recovery plans and permits.</p>
		
<h3 id="howapply" class="govuk-heading-m">How to apply</h3>


							</div>
						</div>

						<div class="govuk-grid-column-one-third">
								<hr style="margin:0 0 1em 0">
								<h3 class="govuk-heading-m">Related content</h3>
								<p class="govuk-body govuk-!-font-size-16">Explore the topic</p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Environmental permits</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Policy</a></p>
								<p class="govuk-body govuk-!-font-size-16"><a href="#">Business and the environment</a></p>
								<hr style="margin:0 0 1em 0">

				
							</div>

					</div>
		</main>
</div>


{% endblock %}
